<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASCII Art editor</title>
    <style>
        label {
            position: fixed;
            bottom: 100px;
        }
    </style>
</head>
<body>
    <canvas width="400" height="400" id="ascii-canvas" style="background-color: rgb(255, 255, 255); cursor: crosshair; position: fixed; left: 0; top: 0;"></canvas>
    <label for="symbol">Выберите символ:
    <select id="symbol">
        <option value="." selected>. (точка)</option>
        <option value=",">, (запятая)</option>
        <option value="o">o (круг)</option>
        <option value="+">+ (плюс)</option>
        <option value="-">- (минус)</option>
    </select>
    </label>
    <script>
        const canvas = document.getElementById('ascii-canvas');
        const select = document.getElementById('symbol');
        const ctx = canvas.getContext('2d');
        canvas.addEventListener('click', function(e) {
            const x = e.offsetX;
            const y = e.offsetY;
            const symbol = select.value;
            ctx.font = '20px Arial';
            ctx.fillText(symbol, x, y);
        });
    </script>
</body>
</html>
